* {
  -webkit-tap-highlight-color: transparent;

  &,
  &::before,
  &::after {
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
  }
}

html,
body {
  margin: 0;

  min-width: 300px;
}

main,
article {
  display: inline;
}
