.blue {
  display: block;

  padding: 5px;

  color: $white;

  background-color: rgba($white, .3);

  box-shadow: rgba($black, .8) 5px 5px 5px;

  font-weight: $font-weight-base;

  text-decoration: none;
  text-align: center;
}

.blue--left {
  text-align: left;
}
