.blue {
  display: block;

  padding: 5px;

  color: $white;

  background-color: $blue;

  font-weight: $font-weight-base;

  text-decoration: none;
  text-align: center;
}

.blue--left {
  text-align: left;
}
