.blue {
  display: block;

  padding: 5px;

  color: $white;

  background-color: rgba($blue, .3);

  font-weight: $font-weight-base;

  text-decoration: none;
  text-align: center;
}

.blue--left {
  text-align: left;
}
