.navigation {
  display: flex;

  justify-content: space-between;
}

.navigation__item {
  text-decoration: underline;

  + .navigation__item {
    margin-left: 3px;
  }
}

.navigation__right {
  display: flex;

  .navigation__item {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: rgba($white, .3);

    font-style: initial;
    font-weight: $font-weight-bold;

    text-align: center;
    text-decoration: initial;

    + .navigation__item {
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 560px) {
  .navigation {
    display: inline;
  }
}
