.newsletter {
  .newsletter__thanks {
    display: none;
  }
}

.newsletter__input {
  margin-bottom: 10px;
}

.newsletter--success {
  input,
  button {
    display: none;
  }

  .newsletter__thanks {
    display: initial;
  }
}
