// .release {
// }

.release-list--cover {
  display: flex;

  flex-wrap: wrap;

  .release {
    width: 50%;
  }

  .release-preview {
    display: none;
  }

  .release-detail {
    display: block;
  }

  .release-detail__cover-container {
    display: block;

    font-size: 0;
  }

  .release-detail__cover {
    width: 100%;
    min-width: 250px;
    height: auto;
  }

  .release-detail__content {
    display: none;
  }

  .release-detail__cover {
    cursor: pointer;
  }

  .release--visible {
    width: 100%;
    min-width: 100%;
    height: auto;

    flex: 1;

    .release-preview {
      display: block;
    }

    .release-detail {
      display: flex;
    }

    .release-detail__cover-container {
      display: block;
    }

    .release-detail__cover {
      width: 300px;
      height: 300px;
    }

    .release-detail__content {
      display: block;
    }
  }
}

@media only screen and (max-width: 560px) {
  .release-list--cover {
    display: block;

    .release--visible {
      .release-detail {
        display: block;
      }
    }
  }
}

.release-list--list {
  .release-detail {
    display: none;
  }

  .release--visible {
    .release-detail {
      display: flex;
    }
  }
}

@media only screen and (max-width: 800px) {
  .release-list--list {
    .release--visible {
      .release-detail {
        display: block;
      }
    }
  }
}
