// font family

$font-family-base: "Lato", sans-serif;

// font size

$font-size-base: 26px;

// font weight

$font-weight-base: 400;
$font-weight-bold: 700;

// line height

$line-height-base: 1.5;

// colors

$black: #000;
$white: #fff;
$blue: #00a1fb;
$bisque: #ffe4c4;
