<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="https://y-e-s.org">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://y-e-s.org/assets/images/yes.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="7500">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400i,700i">
  <link rel="stylesheet" type="text/css" href="/assets/styles/app.css?{{ site.time | date: '%s%N' }}">
</head>
<body>
  <div id="gradient" class="gradient"></div>
  <nav class="navigation">
    <div class="navigation__left">
    <button class="navigation__item button">
      <a href="{{ site.url }}" class="acronym">Y-E-S</a>
    </button>
    <button class="navigation__item button">
      <a href="/subscribe">{{ site.locales.subscribe }}</a>
    </button>
    <button class="navigation__item button">
      <a href="/about">{{ site.locales.about }}</a>
    </button>
    </div>
    <div class="navigation__right">
      <button class="navigation__item" id="display-mode-list">
        {{ site.locales.display_mode.list }}
      </button>
      <button class="navigation__item" id="display-mode-cover">
        {{ site.locales.display_mode.cover }}
      </button>
    </div>
  </nav>
  <main class="main">
    {{ content }}
  </main>
  <script type="text/javascript" src="/assets/scripts/app.js?{{ site.time | date: '%s%N' }}"></script>
</body>
</html>
