<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="https://y-e-s.org">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://y-e-s.org/assets/images/yes.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="7500">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400i,700i">
  <link rel="stylesheet" type="text/css" href="/assets/styles/app.css?{{ site.time | date: '%s%N' }}">
</head>
<body>
  <div id="gradient" class="gradient"></div>
  <nav class="navigation">
    <div class="navigation__left">
    <button class="navigation__item" id="navigation-releases">Y-E-S</button>
    <button class="navigation__item" id="navigation-subscribe">
      {{ site.locales.subscribe }}
    </button>
    <button class="navigation__item" id="navigation-about">
      {{ site.locales.about }}
    </button>
    </div>
    <div class="navigation__right">
      <button class="navigation__item" id="display-mode-list">
        {{ site.locales.display_mode.list }}
      </button>
      <button class="navigation__item" id="display-mode-cover">
        {{ site.locales.display_mode.cover }}
      </button>
    </div>
  </nav>
  <aside class="view" id="view-subscribe">
    <p>Here you can sign up to our monthly newsletter, where we announce new releases and current space and <a href="https://www.youtube.com/watch?v=tJevBNQsKtU" target="_blank">astronomy trivia</a>.</p>
    <form class="newsletter" id="newsletter">
      <input class="newsletter__input blue blue--left" type="email" name="email" placeholder="{{ site.locales.email }}" />
      <button class="blue" type="submit">{{ site.locales.subscribe }}</button>
      <div class="newsletter__thanks">
        {{ site.locales.thanks }}
      </div>
    </form>
  </aside>
  <aside class="view" id="view-about">
    <p>
      Y-E-S is an acronym with many meanings, from <span class="acronym">Young Exhausted Scholars</span> to <span class="acronym">Yodeling Experts Speeddating</span>, and a group of people with a background in music. We collect and publish scores on the shared platform y-e-s.org. For us, a score is by no means limited to the realm of music and could just as well be performance instructions, a recipe, code, choreography, a surprise file package, video games, film scripts, some poetry, or an online tutorial.<br><br>
      We publish roughly every month and releases can be freely downloaded. From time to time we organize shows or festivals related to our publishing practice. Currently we are Stellan Veloce, Neo Hülcker, Laure M. Hiendl, Andreas Dzialocha and Kaj Duncan David.<br><br>
      If you have comments, questions, ideas, suggestions, please write to us. We would be happy to hear from you.
    </p>
    <a href="mailto:{{ site.email }}">
      {{ site.email }}
    </a>
  </aside>
  <main>
    {{ content }}
  </main>
  <script type="text/javascript" src="/assets/scripts/app.js?{{ site.time | date: '%s%N' }}"></script>
</body>
</html>
